name: Lint

on:
  pull_request:
    paths:
      - '**/*.md'
      - '.markdownlint-cli2.jsonc'

jobs:
  markdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: '22'
          cache: 'npm'
      - run: npm ci
      - run: npm run lint:md
